.login{
    background-color: white;
    padding: 3em 0 4em 0;
}

.box{
    text-align: center;
    width: 900px;
    height: 550px;
    background-color: #fff;
    box-shadow: 0px 3px 11px 4px rgba(0,0,0,0.34);
    border-radius: 1%;
    /* overflow: scroll; */
}

.login img{
    overflow: hidden;
}

.box button{
    width: 300px;
}

.box form .form-control{
    width: 300px;
}

.box .form-group{
    text-align: center;
}

.login form small{
    margin-bottom: 2em;
    text-align: end;
    margin-right: 6em;
}